<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>TradeSettlement</display-name>
	<welcome-file-list>
		<welcome-file>index.html</welcome-file>
		<welcome-file>index.htm</welcome-file>
		<welcome-file>index.jsp</welcome-file>
		<welcome-file>default.html</welcome-file>
		<welcome-file>default.htm</welcome-file>
		<welcome-file>default.jsp</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.rest.LoginServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/rest/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>TraderServlet</servlet-name>
		<servlet-class>com.rest.TraderServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>TraderServlet</servlet-name>
		<url-pattern>/rest/TraderServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminServlet</servlet-name>
		<servlet-class>com.rest.AdminServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminServlet</servlet-name>
		<url-pattern>/rest/AdminServlet</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AddServlet</servlet-name>
		<servlet-class>com.rest.AddServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AddServlet</servlet-name>
		<url-pattern>/rest/AddServlet</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>GenerateTradeList</servlet-name>
		<servlet-class>com.rest.GenerateTradeList</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GenerateTradeList</servlet-name>
		<url-pattern>/rest/GenerateTradeList</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>EditTrade</servlet-name>
		<servlet-class>com.rest.EditTrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>EditTrade</servlet-name>
		<url-pattern>/rest/EditTrade</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>DeleteTrade</servlet-name>
		<servlet-class>com.rest.DeleteTrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>DeleteTrade</servlet-name>
		<url-pattern>/rest/DeleteTrade</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SettleTrade</servlet-name>
		<servlet-class>com.rest.SettleTrade</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SettleTrade</servlet-name>
		<url-pattern>/rest/SettleTrade</url-pattern>
	</servlet-mapping>

	<servlet>
		<servlet-name>Dashboard</servlet-name>
		<servlet-class>com.rest.Dashboard</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Dashboard</servlet-name>
		<url-pattern>/rest/Dashboard</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>FundBalance</servlet-name>
		<servlet-class>com.rest.FundBalance</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>FundBalance</servlet-name>
		<url-pattern>/rest/FundBalance</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ObligationReport</servlet-name>
		<servlet-class>com.rest.ObligationReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ObligationReport</servlet-name>
		<url-pattern>/rest/ObligationReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SettlementReports</servlet-name>
		<servlet-class>com.rest.SettlementReports</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SettlementReports</servlet-name>
		<url-pattern>/rest/SettlementReports</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>BorrowInterest</servlet-name>
		<servlet-class>com.rest.BorrowInterest</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>BorrowInterest</servlet-name>
		<url-pattern>/rest/BorrowInterest</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>AdminObligationReport</servlet-name>
		<servlet-class>com.rest.AdminObligationReport</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>AdminObligationReport</servlet-name>
		<url-pattern>/rest/AdminObligationReport</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>CorporateAction</servlet-name>
		<servlet-class>com.rest.CorporateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CorporateAction</servlet-name>
		<url-pattern>/rest/CorporateAction</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>ApplyCorporateAction</servlet-name>
		<servlet-class>com.rest.CorporateAction</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ApplyCorporateAction</servlet-name>
		<url-pattern>/rest/CorporateAction</url-pattern>
	</servlet-mapping>
	<filter>
		<filter-name>CorsFilter</filter-name>
		<filter-class>org.apache.catalina.filters.CorsFilter</filter-class>
		<init-param>
			<param-name>cors.allowed.origins</param-name>
			<param-value>*</param-value>
		</init-param>
		<init-param>
			<param-name>cors.allowed.methods</param-name>
			<param-value>GET,POST,HEAD,OPTIONS,PUT</param-value>
		</init-param>
	</filter>
	<filter-mapping>
		<filter-name>CorsFilter</filter-name>
		<url-pattern>/*</url-pattern>
	</filter-mapping>
</web-app>